In [3]:
import pandas as pd

In [6]:
df = pd.read_csv('titanic.csv')

In [7]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
df.Name

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [10]:
df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [11]:
df.Fare

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64

In [12]:
df[['Age','Fare']]

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [13]:
df[['Age']]

      Age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]

In [14]:
df.Age.min()

0.42

In [16]:
df.Age.max()

80.0

In [17]:
df.Age.mean()

29.69911764705882

In [18]:
df.Sex.mode().iloc[0]

'male'

In [19]:
import numpy as np

In [20]:
a = np.array([True,True,True,False])

In [21]:
a.sum()

3

In [22]:
(df.Sex == 'male').sum()

577

In [23]:
(df.Sex == 'female').sum()

314

In [24]:
True and False

False

In [25]:
True or True

True

In [27]:
True and True

True

In [28]:
((df.Sex == 'male') & (df.Age > 35)).sum()

144

In [35]:
((df.Sex == 'female') & (df.Age >= 35)& (df.Age <= 70)).sum()

81

In [38]:
df.Survived

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [39]:
((df.Sex == 'male') & (df.Survived)).sum()

109

In [41]:
((df.Sex == 'female') & (df.Survived)).sum()

233

In [48]:
((df.Survived == 1)&(df.Sex == 'male')).sum()

109

In [49]:
((df.Survived == 0)&(df.Sex == 'male')).sum()

468

In [50]:
((df.Survived == 1)&(df.Sex == 'female')).sum()

233

In [51]:
((df.Survived == 0)&(df.Sex == 'female')).sum()

81

In [52]:
survived_male = ((df.Sex == 'male')&(df.Survived == 1)).sum()

In [55]:
survived_male

109

In [58]:
total_male = (df.Sex == 'male').sum()

In [59]:
total_male

577

In [60]:
survived_male/total_male * 100

18.890814558058924

In [61]:
total_female = (df.Sex == 'female').sum()

In [62]:
total_female

314

In [63]:
survived_female = ((df.Sex == 'female')&(df.Survived == 1)).sum()

In [64]:
survived_female

233

In [65]:
survived_female/total_female * 100

74.20382165605095